In [ ]:
import pandas as pd
import numpy as np
estimate_numbers=pd.read_csv('/content/drive/MyDrive/estimated_numbers.csv')
report_data=pd.read_csv('/content/drive/MyDrive/reported_numbers.csv')
incidence=pd.read_csv('/content/drive/MyDrive/incidence_per_1000_pop_at_risk.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt 
import plotly.express as px

In [ ]:
incidence.shape

(2033, 4)

In [ ]:
incidence.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033 entries, 0 to 2032
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       2033 non-null   object
 1   Year          2033 non-null   int64
 2   No. of cases  2033 non-null   float64
 3   WHO Region    2033 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 63.7+ KB

In [ ]:
report_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        1944 non-null   object
 1   Year           1944 non-null   int64
 2   No. of cases   1710 non-null   float64
 3   No. of deaths  1675 non-null   float64
 4   WHO Region     1944 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 76.1+ KB

In [ ]:
report_data.head()

       Country  Year  No. of cases  No. of deaths             WHO Region
0  Afghanistan  2017      161778.0           10.0  Eastern Mediterranean
1      Algeria  2017           0.0            0.0                 Africa
2       Angola  2017     3874892.0        13967.0                 Africa
3    Argentina  2017           0.0            1.0               Americas
4      Armenia  2017           0.0            NaN                 Europe

In [ ]:
report_data.isnull().sum()

Country            0
Year               0
No. of cases     234
No. of deaths    269
WHO Region         0
dtype: int64

In [ ]:
report_data=report_data.dropna()

In [ ]:
report_data.columns

Index(['Country', 'Year', 'No. of cases', 'No. of deaths', 'WHO Region'], dtype='object')

In [ ]:
incidence.columns

Index(['Country', 'Year', 'No. of cases', 'WHO Region'], dtype='object')

In [ ]:
incidence.rename (columns = {'No. of cases':'no_of_cases'}, inplace = True)
incidence.rename (columns = {'WHO Region': 'who_region'}, inplace = True)
report_data.rename (columns = {'No. of cases': 'no_of_cases'}, inplace = True)
report_data.rename (columns = {'No. of deaths': 'no_of_deaths'}, inplace = True)
report_data.rename (columns = {'WHO Region': 'who_region'}, inplace = True)

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
report_data

,Country,Year,no_of_cases,no_of_deaths,who_region
0,Afghanistan,2017,161778.0,10.0,Eastern Mediterranean
1,Algeria,2017,0.0,0.0,Africa
2,Angola,2017,3874892.0,13967.0,Africa
3,Argentina,2017,0.0,1.0,Americas
6,Bangladesh,2017,4893.0,13.0,South-East Asia
...,...,...,...,...,...
1936,United Republic of Tanzania,2000,17734.0,379.0,Africa
1937,Uzbekistan,2000,126.0,0.0,Europe
1938,Vanuatu,2000,6768.0,3.0,Western Pacific
1939,Venezuela (Bolivarian Republic of),2000,29736.0,24.0,Americas
1940,Viet Nam,2000,74316.0,142.0,Western Pacific

In [ ]:
countries = report_data.groupby(['Country'])[['no_of_cases','no_of_deaths']].apply(sum).reset_index()
fig = px.bar(countries.sort_values("no_of_cases",ascending=False)[:10][::-1],
             x="no_of_cases",y ="Country",text="no_of_cases",
             title="Top 10 Countries with highest number of Malaria Cases till 2000 to 2018")
fig.show()

In [ ]:
who_region = report_data.groupby(['who_region'])[['no_of_cases','no_of_deaths']].apply(sum).reset_index()
fig = px.pie(who_region, values='no_of_cases',names = 'who_region', color = 'who_region',
            color_discrete_map={'Africa':'lightcyan',
                                 'South-East Asia':'cyan',
                                 'Eastern Mediterranean':'royalblue',
                                 'Americas':'darkblue',
                                 'Western Pacific':'blue',
                                 'Europe': 'red'},
            title= 'MALARIA CASES IN W.H.O REGIONS')
fig.show()

In [ ]:
report_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1554 entries, 0 to 1940
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       1554 non-null   object
 1   Year          1554 non-null   int64
 2   no_of_cases   1554 non-null   float64
 3   no_of_deaths  1554 non-null   float64
 4   who_region    1554 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 72.8+ KB

In [ ]:
incidence.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033 entries, 0 to 2032
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      2033 non-null   object
 1   Year         2033 non-null   int64
 2   no_of_cases  2033 non-null   float64
 3   who_region   2033 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 63.7+ KB

In [ ]:
report_data.no_of_cases = report_data.no_of_cases.astype(int)
report_data.no_of_deaths = report_data.no_of_deaths.astype(int)

In [ ]:
incidence.no_of_cases = incidence.no_of_cases.astype(int)

In [ ]:
incidence

,Country,Year,no_of_cases,who_region
0,Afghanistan,2018,29,Eastern Mediterranean
1,Algeria,2018,0,Africa
2,Angola,2018,228,Africa
3,Argentina,2018,0,Americas
4,Armenia,2018,0,Europe
...,...,...,...,...
2028,Venezuela (Bolivarian Republic of),2000,2,Americas
2029,Viet Nam,2000,3,Western Pacific
2030,Yemen,2000,47,Eastern Mediterranean
2031,Zambia,2000,385,Africa
2032,Zimbabwe,2000,123,Africa

In [ ]:
country=report_data['Country'].str.get_dummies()
region=report_data['who_region'].str.get_dummies()

In [ ]:
data = [report_data,country,region]
df = pd.concat(data,axis=1)
df.head()

,Country,Year,no_of_cases,no_of_deaths,who_region,Afghanistan,Algeria,Angola,Argentina,Armenia,...,Viet Nam,Yemen,Zambia,Zimbabwe,Africa,Americas,Eastern Mediterranean,Europe,South-East Asia,Western Pacific
0,Afghanistan,2017,161778,10,Eastern Mediterranean,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Algeria,2017,0,0,Africa,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,Angola,2017,3874892,13967,Africa,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,Argentina,2017,0,1,Americas,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
6,Bangladesh,2017,4893,13,South-East Asia,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
cols = ["Country","who_region"]
df.drop(columns = cols, inplace=True)
df.shape

(1554, 114)

In [ ]:
x = df[['Year', 'no_of_cases']]
y = df[["no_of_deaths"]]

from sklearn.preprocessing import StandardScaler
std = StandardScaler()
x = std.fit_transform(x)
y = std.fit_transform(y)

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state = 1)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (1087, 2)
x_test : (467, 2)
y_train : (1087, 1)
y_test : (467, 1)

In [ ]:
x

array([[ 1.57567817, -0.18750375],
       [ 1.57567817, -0.31556032],
       [ 1.57567817,  2.75163888],
       ...,
       [-1.84303617, -0.31020306],
       [-1.84303617, -0.29202257],
       [-1.84303617, -0.25673494]])

In [ ]:
from sklearn.ensemble import RandomForestRegressor
clf=RandomForestRegressor()
clf.fit(x_train, y_train)

<ipython-input-59-1a41821992d6>:3: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor()

In [ ]:
from sklearn.metrics import mean_squared_error
predict_clf=clf.predict(x_test)
print(mean_squared_error(y_test, predict_clf))

0.7930647347561923

In [ ]:
# importing bagging module
from sklearn.ensemble import BaggingRegressor
model = BaggingRegressor(base_estimator=RandomForestRegressor())
 
# training model
model.fit(x_train, y_train)
 
# predicting the output on the test dataset
pred = model.predict(x_test)
 
# printing the mean squared error between real value and predicted value
print(mean_squared_error(y_test, pred))

/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_bagging.py:508: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning:

`base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.

0.7442403494236093

In [ ]:
#r2 value
from sklearn.metrics import r2_score
print("R value for RandomForest:", r2_score(y_test, predict_clf))
print("R value for BaggingRegressor:", r2_score(y_test, pred))

R value for RandomForest: 0.05383139892361721
R value for BaggingRegressor: 0.11208149925464028

In [ ]:
#r_squared value
print("R value for RandomForest:", clf.score(x, y))
print("R value for BaggingRegressor:", model.score(x, y))

R value for RandomForest: 0.6882433833697112
R value for BaggingRegressor: 0.5600289827187342